body {
  background-color: #f0f8ff;
  color: #021f40;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* HEADER */

.header {
  display: flex;
  justify-conent: space-between;
  align-item: center;
  background-color: #c20032;
  padding: 20px 50px;
  box-sizing: border-box;
}

.brand_name {
  color: #f0f8ff;
  font-size: 40px;
  margin-left: 20px;
  flex-grow: 1;
  text-align: right;
}

/* LOGO */
.logo_img {
  height: 80px;
  width: 80px;
}

/* HERO */
.hero_content {
  text-align: center;
  max-width: 800px;
  margin: 40px auto;
  font-size: 20px;
}

/* GAMES LIST */
.games-container {
  margin-bottom: 60px;
  text-align: center; 
}

/* GAMES TABLE */
.game-table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.game-table th,
.game-table td {
  vertical-align: middle;
  padding: 30px; 
}

.game-table thead th {
  background-color: #021f40;
  color: #f0f8ff;
}

.game-table tbody tr:nth-of-type(odd) {
  background-color: rgba(2, 31, 64, 0.05);
}

.game-table img {
  width: 80px; 
  height: 80px; 
  margin-right: 10px; 
}

.game-table td.team-info {
  padding-right: 20px; /* Adjust the padding to add space between elements */
}

.at {
  margin-right: 40px;
}

.game-table td.team-info img {
  margin-right: 40px;
  margin-left: 10px; 
}


/* Checkout Button */

.custom-btn {
  background-color: #c20032;
  color: #f0f8ff;
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 20px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  margin-top: 20px;
  margin-left: 650px;
}

.custom-btn:hover {
  background-color: #021f40;
}

.custom-btn:focus {
  outline: none; 
}



/* FOOTER */
footer {
  position: relative;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #021f40;
  color: #f0f8ff;
  margin-top: auto;
}

footer small {
  font-size: 24px;
}

/* Link Styles */
a {
  color: #f0f8ff; 
  /* text-decoration: none;  */
}

a:hover {
  color: #c20032; 
}

a:active {
  color: #c20032; 
}




/* Media Query for Small Screens */
@media (max-width: 768px) {
  .header {
    padding: 20px 10px;
  }

  .brand_name {
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
  }

  .logo_img {
    margin-bottom: 10px;
  }

  .hero_content {
    font-size: 16px;
    margin: 25px;
  }
  footer small {
    font-size: 12px; 
  }

  .game-table th,
  .game-table td {
    padding: 10px; /* Further reduced padding for very small screens */
  }
  
  .custom-btn {
    margin-left: calc(50% - 10px); 
  }

  .game-table img {
    width: 50px; 
    height: 50px; 
  }
  .game-table td.team-info {
    padding-right: 20px; /* Adjust the padding to add space between elements */
  }
  
  .at {
    margin-right: 10px;
  }
  
  .game-table td.team-info img {
    margin-right: 10px;
    margin-left: 10px; 
  }
}
