<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <title>Hacking Baseball</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <header class="header">
      <div>
        <img
          src="{{ url_for('static', filename='logo.png') }}"
          alt="Logo"
          class="logo_img"
        />
      </div>
      <div class="brand_name">Hacking Baseball</div>
    </header>

    <div class="hero_content">
      <p>
        With our AI/ML model tailored for baseball statistics, we can predict
        the outcome of games with remarkable accuracy. Whether you're a die-hard
        fan or just curious about the sport, our website provides insights that
        make it easy to know who's going to win each game.
      </p>
    </div>

    <!-- games.html -->
    <section class="games-container">
      {% if games %}
      <!-- Display games if available -->
      <div>
        <h2>Today's Games</h2>
        <h2 id="current-date"></h2>
        <form id="game-selection-form">
          <table class="game-table">
            <thead>
              <tr>
                <th class="game_head">Games</th>
                <th>Select</th>
              </tr>
            </thead>
            <tbody>
              {% for game in games %}
              <tr>
                <td class="team-info">
                  {{ game.away_team }}
                  <img
                    src="{{ url_for('static', filename='logos/' + game.away_team + '.png') }}"
                    alt="{{ game.away_team }} logo"
                  />
                  <span class="at">@</span>
                  {{ game.home_team }}
                  <img
                    src="{{ url_for('static', filename='logos/' + game.home_team + '.png') }}"
                    alt="{{ game.home_team }} logo"
                  />
                </td>

                <td class="text-end">
                  <input type="checkbox" name="game_id" value="{{ game.id }}" />
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div>
            <button type="submit" class="custom-btn">
              Checkout
            </button>
          </div>
        </form>
      </div>
      {% else %}
      <!-- Display message if no games available -->
      <div class="alert">No games scheduled for today.</div>
      {% endif %}
    </section>

    <footer>
      <div class="container">
        <p>
          <a href="{{ url_for('terms_of_service') }}">Terms of Service</a>
        </p>
        <p>
          <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
        </p>
        <p>
          <small
            >&copy; <span id="currentYear"></span> Hacking Baseball | All rights
            reserved</small
          >
        </p>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='javascript/app.js') }}"></script>

  </body>
</html>
